.header{
    display: flex;
    background-color: #048B9A;
    color:  #F5F5DC;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    position: fixed;
    top: 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.a{
    flex-grow: 3;
}
.a , .b , .c {
    flex-basis: 200px;
}
.header a:link{
    color:  #F5F5DC;
}
.header a:visited{
    color:  #F5F5DC;
}
nav{
    display: block;
}
.ul{
    margin-top: 5px;
    list-style-type: none;
    display: inline-block;
}
.ul li{
    display: inline-block;
    margin: 0 60px;
}

.section{
    border: 2px solid black;
    margin: 10px;
    padding-top: 5px;
    background-color: #F5F5DC;
    padding-top: 100px;
}
img{
    width: 100%;
    height: 100%;
}
.sa{
    border: 1px solid  #048B9A;
    box-shadow: 0px 0px 10px 2px #048B9A;
    border-radius: 20px;
    margin-right: 10px;
    height: 250px;
    margin-left: 10%;
}
.p{
    color:rgb(43, 84, 230);
}
.sb{
    border: 1px solid  #048B9A;
    width: 70%;
    margin-right: 10%;
    box-shadow: 0px 0px 10px 2px #048B9A;
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.s1{
    display: flex;
    margin: 20px;
}
.presentation{
    border: 1px solid  #048B9A;
    box-shadow: 0px 0px 10px 2px #048B9A;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 9%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 20px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.ana{
    width: 300px;
    height: 350px;
    border-radius: 50%;
}
.p1{
    display: flex;
}
.p2{
    padding-top: 70px;
    height: 350px;
}
.chi{
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.p3{
    display: flex;
    margin-left: 10%;
    width: 80%;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.p3 li { 
    display: inline-block;
    width: 100%;
    text-align: center;
}
.moi{
    border-radius: 10px;
    text-align: center;
    
}
.moi .sss{
    border-bottom: 1px solid black ;
}
.qsj{
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    
}
.experiece{
    border-radius: 10px;
    text-align: center;
    
}
.experiece .exp1{
    border-bottom: 1px solid black ;
}
.exp{
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    
}
.Contact{
    border-radius: 10px;
    text-align: center;
}
.Contact .cont1{
    border-bottom: 1px solid black ;
}
.cont{
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    height: 320px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    
}
.con{
    text-align: center;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
input{
    width: 100%;
    padding: 8px;
    margin: 20px;
    box-sizing: border-box;
}
label , input {
    display: inline-block;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.envoyer{
    margin-top: 10px;
    background-color: #007bff;
    color: white;
}
.mil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    margin-right: 9%; 
    border: 1px solid  #048B9A;
    box-shadow: 0px 0px 10px 2px #048B9A;
    border-radius: 20px;
    width: 30%;
    margin: 20px;
}
  
.qec table {
    margin: 0 auto;
    width: 90%;
}

.Contact .for .forr{
    padding: 10px;
}
.footer{
    color: #F5F5DC;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #048B9A;
}
.coo{
    text-align: start;
}
@media all and (max-width : 700px){
    .header{
        display: inline-block;
    }
    .header div{
        display: inline-block;
    }
    .a{
        flex-grow: 1;
        flex-basis: 100%;
        width: 100%;
    }
    .b , .c , .c {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 33.33%;
    }
    .s1{
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sa{
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        margin-bottom: 20px;
    }
    .sb{
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 20px;
    }
    .presentation{
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .divana{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
        justify-content: center;
    }
    .ana{
        width: 100%;
        height: 100%;
    }
    .p3{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .p3 li {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .gra{
        text-align: center;
    }
    .mil{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .p1{
        display: block;
    }

    .qec{
        display: block;
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
        margin: 0;
        margin-bottom: 20px;
    }
    .moi{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .experiece{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .Contact{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .footer{
        display: block;
        width: 100%;
    }
    .foo{
        margin-top: 5px;
        margin-bottom: 5px;
    }

}